<div class="module-wrapper bg-cover top-black-banner">
  <div class="module page {% if page.content == blank %}no-content{% endif %}">
    <div class="module-header page-header">
      <div class="module-title">
        <h1>{% if section.settings.black-banner-title != blank %} {{ section.settings.black-banner-title }} {% else %} {{ page.title }} {% endif %}</h1>
      </div>
    </div>
  </div>
</div>
 

{% schema %}
  {
    "name": "Banner Shipping Section",
    "settings": [
	{
      "type": "text",
      "id": "black-banner-title",
      "label": "Banner Title"
	
	},
	  	{
       "type": "select",
       "id": "top-banner-large",
       "options": [
          { "value": "Normal-banner", "label": "Normal Banner"},
          { "value": "top-banner-large", "label": "Large Banner"}
       ],
       "label": "overlay"
    }
  ]
  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
