<div class="content-ambassador">
  <div class="module">
    <div class="col-md-9 m-auto">
      <h3>{{ section.settings.wholesale-title }}</h3>
    	{{ section.settings.wholesale-content }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Content Ambassador",
    "settings": [
	{
        "id": "wholesale-title",
        "type": "text",
        "label": "Title",
		"default": "Title"
      },
	{
        "id": "wholesale-content",
        "type": "richtext",
        "label": "Page Content",
		"default": "<p>Page Content</p>"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
