<div class="gift-set-section module pdt-0 text-left">
	<div class="wrap">
      <div class="row justified-content-center align-items-center">
          <div class="col-xs-12 col-sm-12 col-md-6 text-block">
              <h3>YOUR GIFT SET IS READY !</h3>
              <p>Magnis eros tempor et, dolor parturient aenean adipiscing! Habitasse. Est augue dapibus. Amet hac a dolor est dignissim risus dolor vut proin mus enim dolor sit porttitor ultrices vel placerat mid eros porta integer integer. </p>
              <a class="btn-dark" href="#">Check out with Gift Set</a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
              <img src="https://cdn.shopify.com/s/files/1/0068/6106/2259/files/side-image.jpg?7008038445629238268">
          </div>
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
