<div class="module">
	<div class="select-product-top-header">
      <h2>Start Choosing Products</h2>
      <h3>Choose your products</h3>

      <div class="row select-products">
          <div class="col-xs-12 col-sm-12 col-md-4 select-prod-wrapper">
              <select class="form-control">
                  <option>Winselator</option>
              </select>

              <div class="product-selected-wrap">
                  <div class="select-prod-thumb">
                      <img src="https://cdn.shopify.com/s/files/1/0068/6106/2259/files/select-product1.jpg?18037285802124872232" alt="product-img">
                  </div>
                  <h3>Glitter Merlot</h3>
                  <p>14OZ Wine Glass</p>
                  <ul class="selected-prod-feature">
                      <li>Free Shipping</li>
                      <li>Lifetime Warranty</li>
                      <li>Tripple Insulated</li>
                  </ul>
              </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 select-prod-wrapper">
              <select class="form-control">
                  <option>1s Uncork'd</option>
              </select>

              <div class="product-selected-wrap">
                  <div class="select-prod-thumb">
                      <img src="https://cdn.shopify.com/s/files/1/0068/6106/2259/files/select-product2.jpg?18037285802124872232" alt="product-img">
                  </div>
                  <h3>Glitter Merlot</h3>
                  <p>14OZ Wine Glass</p>
                  <ul class="selected-prod-feature">
                      <li>Free Shipping</li>
                      <li>Lifetime Warranty</li>
                      <li>Tripple Insulated</li>
                  </ul>
              </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 select-prod-wrapper">
              <select class="form-control">
                  <option>2nd uncork'd</option>
              </select>
              <div class="product-selected-wrap">
                  <div class="select-prod-thumb">
                      <img src="https://cdn.shopify.com/s/files/1/0068/6106/2259/files/select-product2.jpg?18037285802124872232" alt="product-img">
                  </div>
                  <h3>Glitter Merlot</h3>
                  <p>14OZ Wine Glass</p>
                  <ul class="selected-prod-feature">
                      <li>Free Shipping</li>
                      <li>Lifetime Warranty</li>
                      <li>Tripple Insulated</li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
