<div
  class="widget-instagram"
  data-instagram-error="{{ 'general.social.instagram_error' | t }}"
  data-instagram-token="{{ block.settings.access_token }}">
  <div data-instagram-photos>
    {% for i in (1..6) %}
      <span class="instagram-photo">
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </span>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Instagram Section",
    "settings": [
	{
      "id": "ititle-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
	{
       "type":      "collection",
       "id":        "icid",
       "label":     "Select Collection"
    }
	],
  "presets": [
        {
         "name": "Instagram Section"
			
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
