<div class="form-section">
  <div class="module">
    <div class="inner-title">
    
      <h2>{{ section.settings.pressform-title }}</h2>
    </div>
    <div style="margin:0 auto;" class="pxFormGenerator" id="6XYnmvaaixZ_zXWwKENfCg"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Press Form Section",
    "settings": [
      {
        "id": "pressform-title",
        "type": "text",
        "label": "Title"
      }
    ]
  }
{% endschema %}