<div class="side-image-section">
  <!--container as module-->
  <div class="module">
    <div class="row">
       {% for block in section.blocks %}
      <div class="col-md-3 col-sm-6 inner-img">
        <div class="inner-main-icon row align-items-center">
          <div class="side-icon col-sm-4">
           <img class="client Logo" src="{{ block.settings.img-icon | img_url: "" }}" alt="">
          </div>
          <div class="icon-content col-sm-8 text-left">
           {{ block.settings.icon-text}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Side image Collection",
    "settings": [
	
	],
    "blocks": [
      {
        "type": "select",
        "name": "Add Icon",
        "settings": [
          {
            "id": "img-icon",
            "type": "image_picker",
            "label": "Image Icon"
          },
			{
              "id": "icon-text",
              "type": "richtext",
              "label": "Icon Text"
            }
        ]
      }
    ],
  "presets": [
        {
         "name": "Side image Section",
			"blocks": [
            { 
              "type": "select"
            }
		  ]
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
