<div class="careers-slider">
  	{% for block in section.blocks %}
  	<div class="inner-careers">
      <div class="bg-cover careers-inner-bg" style="background-image:url('{{ block.settings.slider-bg | img_url: "" }}')">
        <h3>{{ block.settings.slider-text }}</h3>
      </div>
    </div>
  {% endfor %}
</div>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<script type="text/javascript">
  $('.careers-slider').slick({
  centerMode: true,
  centerPadding: '200px',
  slidesToShow: 1,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
</script>
{% schema %}
  {
    "name": "Careers Slider",
    "settings": [],
 "blocks": [
      {
        "type": "select",
        "name": "Add Slider",
        "settings": [
          {
            "id": "slider-bg",
            "type": "image_picker",
            "label": "slider Image"
          },
			{
              "id": "slider-text",
              "type": "text",
              "label": "Slider Text"
            }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
