{% section 'list-collection-banner' %}
{% section 'side-image-with-text-collection' %}
{% section 'collection-list-section' %}
{% section 'happy-customers-section' %}
<!-- <div class="brumate-prod-section">
  <div class="module-title ">
      <h2>Happy Customers with their Brumate Product</h2>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 brumate-inner-prod">
        <img src="https://cdn.shopify.com/s/files/1/0068/6106/2259/files/d1.png?1761293627849398514" alt="">
      </div>
       <div class="col-md-3 col-sm-6 brumate-inner-prod">
        <img src="https://cdn.shopify.com/s/files/1/0068/6106/2259/files/d2.png?11608938105701593897" alt="">
      </div>
       <div class="col-md-3 col-sm-6 brumate-inner-prod">
        <img src="https://cdn.shopify.com/s/files/1/0068/6106/2259/files/d3.png?11608938105701593897" alt="">
      </div>
       <div class="col-md-3 col-sm-6 brumate-inner-prod">
        <img src="https://cdn.shopify.com/s/files/1/0068/6106/2259/files/d4.png?11608938105701593897" alt="">
      </div>
    </div>
</div> -->