{% section 'content-careers' %}

{% section 'slider-careers' %}

{% section 'top-icons-careers' %}

{% section 'single-banner-careers' %}

{% section 'job-vacancies-careers' %}

<!-- 
<div class="job-vacancies-section">
  <div class="module">
    <div class="inner-title">
      <h3>Job Vacancies</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
  	<div class="accordion careers-apply text-left" id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Sales and Marketing
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
       	<ul class="list-unstyled"> 
          <li><h6>Marketing Manager</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
          <li><h6>Marketing Executive</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
          <li><h6>Sales Dealer</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Sales and Marketing
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
       	  <ul class="list-unstyled"> 
          <li><h6>Marketing Manager</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
          <li><h6>Marketing Executive</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
          <li><h6>Sales Dealer</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
      </div>
      
      
         <div class="col-md-6">
  	<div class="accordion careers-apply text-left" id="accordion">
  <div class="card">
    <div class="card-header" id="heading4">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
         Sales and Marketing
        </button>
      </h5>
    </div>

    <div id="collapse3" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
      <div class="card-body">
       	<ul class="list-unstyled"> 
          <li><h6>Marketing Manager</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
          <li><h6>Marketing Executive</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
          <li><h6>Sales Dealer</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading5">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Sales and Marketing
        </button>
      </h5>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
      <div class="card-body">
       	  <ul class="list-unstyled"> 
          <li><h6>Marketing Manager</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
          <li><h6>Marketing Executive</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
          <li><h6>Sales Dealer</h6>
        	<a class="apply-now-btn" href="">Apply</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
      </div>
      
      
    </div>
  	
  </div>

</div> -->
