{% section 'banner-wholesale' %}

{% section 'content-wholesale' %}

{% section 'top-icon-with-text' %}
<div class="wholesale-bg">
{% section 'banner-wholesale-bottom' %}
</div>

{% section 'contact-wholesale' %}
